<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo d-flex align-items-center ">  
         <a href="index.html"><img src="assets/img/flock.png" alt="" class="img-fluid"></a>
         <h1><a href="index.html">Flock</a></h1>
      </div>

      <nav class="navbar" >
        <ul>
          <li><a class="nav-link scrollto" href="/acc#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/acc#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="/acc#services">Services</a></li>  
          <li><a class="nav-link scrollto" href="/acc#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a routerLink="/login" class="btn-get-started-0 scrollto animate__animated animate__fadeInUp">login </a>
        <a routerLink="/register" class="btn-get-started-0 scrollto animate__animated animate__fadeInUp">Sign up </a>
      </div>
    </div>
   
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(assets/a/img/land.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">The Best event planning  App</h2>
                <p class="animate__animated animate__fadeInUp">
                  "Welcome to Flock: Where Connections Take Flight!"</p>
                <a href="/acc#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>


        </div>

        

      </div>
    </div>
  </section><!-- End Hero Section -->

  
    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>About Flock</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                
                  <img src="assets/a/img/ac.jpg" alt="">
                
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <p>
                  Flock stands as the quintessential platform for fostering meaningful connections, organizing delightful outings, and orchestrating vibrant social gatherings. It empowers individuals to take charge of their social lives by providing the tools to plan and execute their own events, gatherings, and meetups. Moreover, Flock offers the opportunity to effortlessly explore and participate in a myriad of pre-organized events curated by fellow members of the community.

                  At its core, Flock is dedicated to nurturing genuine human connections and fostering in-person interactions. By facilitating meaningful encounters and enabling the organic development of authentic relationships in the physical world, Flock addresses a fundamental and innate human need for social connection and belonging. Through its user-friendly interface and robust features, Flock encourages users to step out of their comfort zones, engage with like-minded individuals, and create lasting memories together.
                </p>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->

   

    

    <!-- ======= Rviews Section ======= -->
    <div class="reviews-area">
      <div class="row g-0">
        <div class="col-lg-6">
          <img src="assets/a/img/c.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>Unlocking Professional Potential</h2>
            <p class="white-text" >While Flock is undoubtedly a hub for fun events and social gatherings, its versatility extends beyond mere leisure activities. Beyond the realm of casual hangouts, Flock provides a dynamic platform for learning and professional development. Through specialized workshops, industry-focused seminars, and networking opportunities, users can leverage Flock as a powerful tool for advancing their careers and expanding their knowledge base. Whether it's attending a skill-building webinar, connecting with industry experts, or collaborating on a project with like-minded professionals, Flock offers a myriad of avenues for personal and professional growth. By embracing a holistic approach to community engagement, Flock cultivates an environment where individuals can thrive not only in their social lives but also in their professional endeavors..</p>
            
          </div>
        </div>
      </div>
    </div><!-- End Rviews Section -->

 <!-- ======= Services Section ======= -->
 <div id="services" class="services-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <!-- Start Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-heart"></i>
              </a>
              <h4>Get inspired</h4>
              <p>
                Elevate your creativity and motivation with our inspiring content and resources, designed to spark innovation and drive success.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-people"></i>
              </a>
              <h4>Meet new faces</h4>
              <p>
                Expand your network and forge meaningful connections with a diverse community of individuals who share your interests and passions.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class=" about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-chat-left-text"></i>
              </a>
              <h4>Free swags</h4>
              <p>
                Enjoy exclusive perks and goodies as a valued member of our community, including free merchandise and special giveaways.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class=" about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-binoculars"></i>
              </a>
              <h4>Exclusive Events or Opportunities </h4>
              <p>
                Access VIP experiences and unique opportunities reserved for our members, ranging from exclusive events to special collaborations.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <!-- End Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class=" about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-buildings-fill"></i>
              </a>
              <h4>Community Engagement</h4>
              <p>
                Dive into a supportive and engaging community where collaboration thrives, and where your voice is heard and valued.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
      <!-- End Left services -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- end col-md-4 -->
        <div class=" about-move">
          <div class="services-details">
            <div class="single-services">
              <a class="services-icon" href="#">
                <i class="bi bi-chevron-double-up"></i>
              </a>
              <h4>Continuous Improvement</h4>
              <p>
                Embrace growth and development as we strive to continuously enhance our services and offerings to better serve your needs and aspirations.
              </p>
            </div>
          </div>
          <!-- end about-details -->
        </div>
      </div>
    </div>
  </div>
</div><!-- End Services Section -->
    
   

    
  

    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area" style="background-color: #f82249;" >
      <div class="container" >
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center" >
              <h3 >Be the architect of your own experience – create your event today!</h3>
              <a routerLink="/login" class="sus-btn text-custom-pink"  >Start</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Suscribe Section -->


    <!-- ======= Testimonials Section ======= -->
    <div id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="testimonials-slider swiper">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="src/assets/a/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Cultivate connections, create memories, and spread your wings with Flock – where real friendships take flight."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </div><!-- End Testimonials Section -->
  

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Contact us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-6">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi bi-phone"></i>
                  <p>
                    Call:(+216) 99 999 999<br>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-6">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi bi-envelope"></i>
                  <p>
                    Email: info&#64;gmail.com
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            
          </div>
          <div class="row">

           
            <div >
              <div class="form contact-form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  

  <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>Flock</h2>
                </div>

                <p>"Flock - Connecting you with the people and information that matter most. Stay connected, stay informed."</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>information</h4>
                <p>
                "Stay updated with the latest news and updates. Follow us on social media for more insights and announcements."
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> (+216) 99 999 999</p>
                  <p><span>Email:</span> yassinemabaouj&#64;gmail.com</p>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          
        </div>
      </div>
    </div>
    
  </footer><!-- End  Footer -->

  

  
</body>

