
<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section profile-1 ">
      
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-1-card pt-4 d-flex flex-column align-items-center">

              <img src="assets/img/mab.jpg" alt="Profile" class="rounded-circle">
              <h2>{{tab2.username}}</h2>
              
              <div class="social-links mt-2">
                <a href="{{tab1.t}}" class="tiktok"><i class="bi bi-tiktok"></i></a>
                <a href="{{tab1.F}}" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="{{tab1.I}}" class="instagram"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">
 
          <div class="card">
            <div class="card-body pt-3">
              <h2 class="card-1-title">About</h2>
              <p class=" fst-italic">{{tab1.f}} </p>
              <h2  class="card-1-title">Profile Details</h2>
            </div>
          </div>

        </div>
      
    </section>

  </main><!-- End #main -->

  


</body>

