.btn-custom-purple {
    background-color: #9979d5; /* Red color */
    color: #ffffff; /* White text color */
}

.btn-custom-orange {
    background-color: #fd7e14; /* Red color */
    color: #ffffff; /* White text color */
}
